<div class="row ml-2">
    <div class="cards justify-content-center justify-content-md-start">
        <div *ngFor="let s of StampList;" class="mb-3">
            <app-stamp-card [stamp]="s" (onEditEvent)="updateStampList()"></app-stamp-card>
        </div>
    </div>
</div>

<button type="button" [ngClass]="{ 'show-scrollTop': windowScrolled }"
        class="btn btn-info btn-floating btn-lg to-top-hidden"
        id="bi bi-arrow-up" (click)="scrollToTop()">
    <i class="bi bi-arrow-up"></i>
</button>
