<div class="modal-content">
    <div class="modal-header">
        <h5 *ngIf="isAdd" class="modal-title">Add Stamp</h5>
        <button type="button" class="btn btn-primary btn-sm me-2" *ngIf="!canEdit" (click)="allowFormEdit()"><i class="bi bi-pen"></i></button>
        <h5 *ngIf="!isAdd" class="modal-title ms-1">Edit Stamp {{ stamp.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.close('Close click')">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="StampForm" (ngSubmit)="onSubmit()">
            <div class="form-row d-flex justify-content-between">
                <div class="form-group col-md-5">
                    <label for="scottNumber" class="form-label">Scott Number</label>
                    <input id="scottNumber" name="scottNumber" type="text" class="form-control" required="required" formControlName="scottNumber" [ngClass]="{'is-invalid': form.scottNumber.invalid && form.scottNumber.touched}">
                    <small *ngIf="form.scottNumber.hasError('required') && form.scottNumber.touched && form.scottNumber.invalid" class="invalid-feedback">Number is required.</small>
                </div>

                <div class="form-group col-md-5">
                    <label for="year" class="form-label">Year</label>
                    <input id="year" name="year" type="text" class="form-control" [ngClass]="{'is-invalid': form.year.invalid && form.year.touched}" required="required" maxlength="4" formControlName="year">
                    <small *ngIf="form.year.touched && form.year.invalid" class="invalid-feedback">Year is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="typeahead-format">Country</label>
                <input id="typeahead-format" [ngClass]="{'is-invalid': form.country.invalid && form.country.touched}"
                       name="country"
                       type="text"
                       class="form-control"
                       [ngbTypeahead]="search"
                       formControlName="country" />
                <small *ngIf="form.country.hasError('required') && form.country.touched && form.country.invalid" class="invalid-feedback">Country is required.</small>
            </div>
            <div class="form-group">
                <label for="formFile" class="form-label">Image</label>
                <input class="form-control" type="file" accept="image/*" id="formFile" #filePicker (change)="onImagePicked($event)" [ngClass]="{'is-invalid': form.image.invalid && form.image.touched}">
                <small *ngIf="form.image.hasError('required') && form.image.touched && form.image.invalid" class="invalid-feedback">File is required.</small>
            </div>
            <div *ngIf="!isAdd" class="p-1">
                <img [src]="imageURL" class="img-fluid d-block mx-auto" alt="Placeholder text" />
            </div>
            <div class="form-group">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" name="description" cols="40" rows="5" class="form-control" formControlName="description" [ngClass]="{'is-invalid': form.description.invalid && form.description.touched}"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                *ngIf="!isAdd"
                placement="bottom"
                [autoClose]="false"
                [ngbPopover]="popContent"
                [popoverTitle]="popTitle"
                triggers="manual"
                #p="ngbPopover"
                (click)="p.open()"
                class="mr-auto btn btn-danger"
                style="margin-right: auto;">
            <i class="bi bi-trash"></i>
            <ng-template #popContent>
                <button type="button" class="btn btn-danger" (click)="onDelete()">Confirm</button>
                <button type="button" class="btn btn-info float-right" (click)="p.close()">Cancel</button>
            </ng-template>
            <ng-template #popTitle>
                Are you sure you want to delete this stamp?
            </ng-template>
        </button>

        <button type="button" class="btn btn-primary" *ngIf="canEdit" (click)="onSubmit()" [disabled]="StampForm.invalid">Save Stamp</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.close('Close click')">Close</button>
    </div>
</div>
